<template>
    <div>
        <b-button type="button" variant="primary" @click="onClick">Calculate</b-button>

        <b-form-group class="mt-2" id="input-group-1" label="Result:" label-for="input-1">
            <b-form-input
            id="input-1"
            v-model="outputNumber"
            placeholder="Result"
            readonly
            ></b-form-input>
        </b-form-group>
    </div>
</template>

<script>
export default ({
    props: {
        inputNumber: String
    },
    data() {
        return {
            outputNumber: 0
        }
    },
    methods: {
        onClick () {
            this.outputNumber = this.inputNumber / 100
        }
    }
})
</script>
