<template>
    <div class="container mt-5">
        <b-form>
            <b-form-group id="input-group-1" label="Text:" label-for="input-1">
                <b-form-input
                id="input-1"
                v-model="inputString"
                placeholder="Enter text"
                required
                ></b-form-input>
            </b-form-group>

            <center>
                <b-button class="mb-3" type="button" variant="primary" @click="create(inputString)">Send</b-button>
            </center>

            <b-table hover :items="items"></b-table>
        </b-form>
    </div>
</template>

<script>
import axios from 'axios'

export default ({
    data() {
        return {
            items: [],
            inputString: ''
        }
    },
    methods: {
        create (inputString) {
            axios({
            method: 'post',
            url: 'http://localhost:3000/exam',
            headers: {
                'Content-Type': 'application/json'
            },
            data: {
                data: inputString
            }
            }).then((response) => {
                if (response.status == 200) {
                    this.inputString = '';
                    this.items.push(response.data);
                }
            }).catch(error => {
                console.log(error);
            })
        }
    }
})
</script>
