<template>
    <div class="container mt-5">
        <b-form>
            <b-form-group id="input-group-1" label="Your number:" label-for="input-1">
                <b-form-input
                id="input-1"
                v-model="inputNumber"
                placeholder="Enter number"
                type="number"
                required
                ></b-form-input>
            </b-form-group>

            <calculate :inputNumber="inputNumber"></calculate>
        </b-form>
    </div>
</template>

<script>
import Calculate from '../components/Calculate.vue'

export default ({
    components: {
        Calculate
    },
    data() {
        return {
            inputNumber: ''
        }
    }
})
</script>
